@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

body, html, * {
  margin: 0;
  padding: 0;
  font-family: 'Cadiz';
  font-weight: 500;
  box-sizing: border-box;
  color: #353F47;
}
h1 {
  font-family: 'Tobias';
  font-size: 48px;
}

h2 {
  font-family: "Cadiz SemiBold";
  font-size: 24px;
}

input {
  border: solid 1px #E1DEDE;
  border-radius: 8px;
  width: 100%;
  padding: 1rem;
  color: #676A6D;
  margin-bottom: 18px;
}

button {
  padding: 12px 20px ;
  background: #105368;
  color: #fff;
  border-radius: 8px;
}

input::placeholder {
  color: #676A6D;
}

.grayscale {
  filter: grayscale(1);
}


.Testimonials_swiperTop__WHiV6 .swiper-wrapper {
  margin-left: 100px;
}

@media only screen and (max-width: 768px) {
  .Testimonials_swiperTop__WHiV6 .swiper-wrapper {
    margin-left: 0;
  }
}